<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CocoaGlk.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>GlkClient.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>GlkSound.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>GlkView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>git.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>glulxe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>imagetest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>multiwin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4B0459F007EA20F1002D7C88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B0459F507EA20FE002D7C88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B3C3B780F3DAB850066A760</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B51AA4607E8770600576AB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B51AA5507E877C900576AB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BBC40F708A7AABD00B790B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BF085290E166E8300DB5C6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D1107260486CEB800E47090</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
